// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$toolbarbg2: #0e7fb0;
$toolbarbg:#0e7fb0;

.toolbar-background {background-color:transparent; box-shadow: none;}
ion-header:after {display: none}
.toolbar-title {color: #fff; text-transform: uppercase;font-size: 17px;padding-left: 5px;}
.content {background:url(../../assets/imgs/app-bg.svg) no-repeat center;background-size: cover;}
//.content {background:#fff;}
.item-inner {padding: 0;}
ion-input {width:100%;}
.btn {border-radius: 0px;box-shadow: none;height:inherit !important;}
.btn .button-inner {font-size: 1.8rem;padding: 15px 30px;font-weight: normal;}
.text-input {width:100%}
ion-item, .item-inner {
    box-shadow: none !important;
  }
figure {text-align:center;}
.logo img {width:150px;}
.tabs .tab-button-icon {font-size: 3rem;color:#333;}
.tabs .tabbar { background: #f1f1f1;}
ion-navbar .back-button {color:#fff;margin: 0;padding: 0;min-width: auto;}
.menu-inner > ion-header, .menu-inner > ion-content, .menu-inner > ion-footer {
  position: relative;
}
.headerIcon{background: transparent;color: #fff;font-size: 17px;}
.profileImage .imgWrap {/*border: 3px solid #e6e8eb;box-shadow: 0 0 5px 0px #555;*/margin-top: 10px;margin-bottom:20px;}
.segment .segment-button {flex: auto;width: auto;}










